[run]
source = ./apps/
omit = .venv/*, *tests*, *apps.py, *manage.py, *__init__.py, \
    *migrations*, *asgi*, *wsgi*, *admin.py, *urls.py \
    config/*, *fixtures*, *factories.py

[report]
omit = .venv/*, *tests*, *apps.py, *manage.py, *__init__.py, \
    *migrations*, *asgi*, *wsgi*, *admin.py, *urls.py, \
    config/*, *fixtures*, *factories.py
